<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session['counter']}} times.</p>
    <form action='/addtwo' method='post'>
        <input type="submit" name="addtwo" value="Add 2 Sessions!">
    </form>
    <form action="/reset" method="post">
        <input type="submit" name="reset" value="Back to 1">
    </form>
</body>
</html>