<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The email address you entered {{ session['new_email'] }} is VALID email address. Thanks.</h1>
    <h2>Emails Entered:</h2>
    
    <table>
     {% for email in table %}
        <tr>
            <td>{{email['email']}}</td>
            <td>{{email['datetime']}}</td>
        </tr>
     {% endfor %}
    </table>
    
</body>
</html>