<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='actions.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_stylesheet.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <title>Color Picker</title>
</head>
<body>
    <div class="wrapper">
        <h1>Enter your color values below</h1>
        <form action="">
            <label for="red">Red</label>
            <input type="text" name="red">
            <br>
            <label for="red">Green</label>
            <input type="text" name="green">
            <br>
            <label for="red">Blue</label>
            <input type="text" name="blue">
            <br>
            <input type="submit" value="Show My Color!">
        </form>
        <p>*All values must be between 0 and 255</p>
    </div>
</body>
</html>